<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">EmberSample</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
            {{#link-to 'about'}}About{{/link-to}}
        </li>
        <li>
            {{#link-to 'contact'}}Contact{{/link-to}}
        </li>
        <li>
            {{#link-to 'rentals'}}Rentals{{/link-to}}
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    {{outlet}}
  </div>
</div>